* {
  margin: none;
}

#bottomSection {
  display: grid;
  grid-template-columns: 5fr 1.5fr;
}

#main {
  margin-left: calc((100vw - 210mm) / 2);
  width: 210mm;
}

#inputSection {
  min-height: 100vh;
}

#template {
  height: 297mm;
  margin-top: 50px;
  border: 3px solid rgba(64, 64, 112, 0.763);
  background-color: white;
}
