#main-Skills {
  border-bottom: 1px solid black;
  width: calc(100% - 10px);
  margin-top: 15px;
  height: 25vh;
}

#header-Skills {
  margin-bottom: 5px;
}

.skillDiv {
  border-radius: 10px;
  padding-left: 1ch;
  padding-right: 1ch;
  width: fit-content;
  display: none;
  margin-bottom: 5px;
  margin-right: 5px;
}

.skillShow {
  display: inline-block;
  border: 1px solid black;
}

.hide {
  display: none;
}
